
<h4 class="mb-4">Create a new Dept</h4>

<button class="btn btn-primary mb-4">
    <a asp-controller="Departamentos" asp-action="Index" class="link-dark">Volver a Index</a>
</button>

<form method="post" class="form">
    <label>Id Departamento</label>
    <input type="text" name="iddepartamento" class="form-control" required />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" required />
    <label>Localidad</label>
    <input type="text" name="localidad" class="form-control" required />
    <button class="btn btn-info">New Dept</button>
</form>